In [307]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.impute import KNNImputer

In [308]:
df = pd.read_csv('main_dataset.csv')

In [309]:
df.head()

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [310]:
df = df.sort_values(by=['inpatient.number'], ascending=True)
df.reset_index(drop = True, inplace = True)
df.head()
#df.iloc[1700]

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,1057,722128,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1,797,723327,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,...,0.132075,NaN,0.880000,0.187234,0.878342,0.394444,0.44,0.226190,1.0,0.533333
2,296,723617,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,...,0.000000,NaN,0.973333,0.365957,0.981283,0.286111,0.44,0.410714,1.0,0.800000
3,1372,724385,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,953,725509,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.266667

In [311]:
df.drop(['inpatient.number','Unnamed: 0','leukemia'],axis= 1,inplace=True)
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.132075,NaN,0.880000,0.187234,0.878342,0.394444,0.44,0.226190,1.0,0.533333
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.000000,NaN,0.973333,0.365957,0.981283,0.286111,0.44,0.410714,1.0,0.800000
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.266667

In [312]:
df.isna().any()

gender                     False
body.temperature           False
pulse                      False
respiration                False
systolic.blood.pressure    False
                           ...
anion.gap                   True
free.calcium                True
total.hemoglobin            True
GCS                        False
ageCat                     False
Length: 145, dtype: bool

In [313]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [314]:
len(df.columns)

145

In [315]:
x = list(df.isnull().sum(axis = 0))
# x, len(x) 
# len(x)

In [316]:
z = df.to_numpy(dtype=np.float64)

In [317]:
z.shape

(1996, 145)

In [318]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=18, weights='uniform', metric='nan_euclidean')

In [319]:
imputer.fit(z)

KNNImputer(n_neighbors=18)

In [320]:
xtrans = imputer.transform(z)

In [321]:
xtrans.shape

(1996, 144)

In [322]:
xtrans

array([[0.        , 0.27142857, 0.33333333, ..., 0.40873016, 1.        ,
        0.66666667],
       [0.        , 0.14285714, 0.36363636, ..., 0.22619048, 1.        ,
        0.53333333],
       [1.        , 0.2       , 0.35353535, ..., 0.41071429, 1.        ,
        0.8       ],
       ...,
       [1.        , 0.21428571, 0.49494949, ..., 0.39880952, 1.        ,
        0.8       ],
       [1.        , 0.22857143, 0.54545455, ..., 0.51917989, 1.        ,
        0.66666667],
       [0.        , 0.21428571, 0.57070707, ..., 0.51818783, 1.        ,
        1.        ]])

In [323]:
z[0][1]

0.2714285714285712

In [324]:
df.columns

Index(['gender', 'body.temperature', 'pulse', 'respiration',
       'systolic.blood.pressure', 'diastolic.blood.pressure', 'map', 'BMI',
       'type.of.heart.failure', 'NYHA.cardiac.function.classification',
       ...
       'carboxyhemoglobin', 'body.temperature.blood.gas', 'oxygen.saturation',
       'partial.oxygen.pressure', 'oxyhemoglobin', 'anion.gap', 'free.calcium',
       'total.hemoglobin', 'GCS', 'ageCat'],
      dtype='object', length=145)

In [325]:
# import math
# for i in range(145):
#     if math.isnan(z[0][i]):
#         continue
#     elif z[0][i] == xtrans[0][i]:
#         continue
#     elif z[0][i] != xtrans[0][i]:
#         print(i,z[0][i],xtrans[0][i])
#         break
# z[0][142],xtrans[0][142]

In [326]:
# for i in range(145):
#     if math.isnan(z[0][i]):
#         print(i,z[0][i],xtrans[0][i])

In [327]:
len(xtrans[0])

144

In [ ]:
# for i in range(145):
#         print(i,z[1700][i],xtrans[1700][i])

In [ ]:
#df.drop(['body.temperature.blood.gas'],axis= 1,inplace=True)
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.385827,0.132075,0.880000,0.187234,0.878342,0.394444,0.44,0.226190,1.0,0.533333
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.496063,0.000000,0.973333,0.365957,0.981283,0.286111,0.44,0.410714,1.0,0.800000
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.266667

In [ ]:

df_trans = pd.DataFrame(xtrans, columns =df.columns)
df_trans.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,0.368876,0.073375,0.944444,0.400000,0.945187,0.420988,0.428889,0.408730,1.0,0.666667
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.385827,0.132075,0.880000,0.187234,0.878342,0.394444,0.440000,0.226190,1.0,0.533333
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.496063,0.000000,0.973333,0.365957,0.981283,0.286111,0.440000,0.410714,1.0,0.800000
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,0.372375,0.087002,0.917778,0.335225,0.918449,0.435802,0.473333,0.549603,1.0,0.666667
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,0.435477,0.084906,0.965185,0.412057,0.968731,0.386265,0.473333,0.581349,1.0,0.266667

In [329]:
df_trans.to_csv('main_dataset_kNN.csv')