## AutoKeras
* Using AutoK to find the best neural network

### Initialising data

In [55]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
import autokeras as ak

In [56]:
import warnings
warnings.filterwarnings('ignore')

In [57]:
df1 = pd.read_csv("random_imputed.csv",index_col=[0])
df1.sample(5)

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
inpatient.number,,,,,,,,,,,,,,,,,,,,,
782674,0,37.2,102,19,132,79,96.666667,25.390625,2,3,...,17.800000,0.300000,94.000000,74.00000,93.800000,20.200000,1.110000,87.000000,15,85
860325,0,38.1,121,23,168,101,123.333333,23.781213,2,3,...,24.700000,0.300000,99.000000,206.00000,98.400000,18.800000,1.220000,136.000000,15,75
810425,1,36.3,70,18,112,72,85.333333,19.562955,2,2,...,23.000000,0.400000,93.000000,68.00000,92.900000,4.700000,1.110000,151.000000,15,75
810257,0,36.2,83,19,150,80,103.333333,22.959184,2,3,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,85
777858,0,36.5,105,18,159,53,88.333333,19.227688,0,4,...,22.200000,0.300000,98.000000,128.00000,97.800000,10.300000,1.140000,91.000000,10,85

In [58]:
df3=pd.read_csv("drug_onehot_latest.csv",index_col=[0])
df3.head()

,sulfotanshinone sodium injection,Furosemide tablet,Meglumine Adenosine Cyclophosphate for injection,Furosemide injection,Milrinone injection,Deslanoside injection,Torasemide tablet,Benazepril hydrochloride tablet,Atorvastatin calcium tablet,Digoxin tablet,Hydrochlorothiazide tablet,Spironolactone tablet,Valsartan Dispersible tablet,Dobutamine hydrochloride injection,Isoprenaline Hydrochloride injection,Nitroglycerin injection,Shenfu injection,Isosorbide Mononitrate Sustained Release tablet
inpatient.number,,,,,,,,,,,,,,,,,,
722128,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
723327,0,1,0,1,1,1,1,0,1,1,0,1,1,0,0,0,0,1
723617,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
724385,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
725509,0,1,0,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0

In [59]:
df2=df3['Atorvastatin calcium tablet']
df2 = df2.to_frame()

In [60]:
df2.head()

                  Atorvastatin calcium tablet
inpatient.number
722128                                      0
723327                                      1
723617                                      1
724385                                      0
725509                                      0

In [64]:
df=pd.concat([df1,df3['Atorvastatin calcium tablet']],axis=1)

In [65]:
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
inpatient.number,,,,,,,,,,,,,,,,,,,,,
722128,0,36.9,66,18,121,56,77.666667,18.590125,2,4,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
723327,0,36.0,72,21,150,80,103.333333,21.644121,2,4,...,0.700000,91.000000,64.00000,90.000000,13.000000,1.110000,73.000000,15,65,1
723617,1,36.4,70,20,120,80,93.333333,31.111111,2,3,...,0.000000,98.000000,106.00000,97.700000,9.100000,1.110000,104.000000,15,85,1
724385,1,36.7,129,22,122,86,98.000000,20.134780,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
725509,0,36.9,100,20,95,65,75.000000,22.031726,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,45,0

In [66]:
cols_to_scale = [df.columns]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_df= scaler.fit_transform(df)

In [67]:
df = pd.DataFrame(scaled_df,columns = df.columns)

In [68]:
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.132075,0.880000,0.187234,0.878342,0.316258,0.440000,0.226190,1.0,0.533333,1.0
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.000000,0.973333,0.365957,0.981283,0.229399,0.440000,0.410714,1.0,0.800000,1.0
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.266667,0.0

### First model
* No preprocessing or sampling (Accuracy:60%)

In [69]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

In [70]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [71]:
model_search = ak.StructuredDataClassifier(max_trials=20)

INFO:tensorflow:Reloading Oracle from existing project .\structured_data_classifier\oracle.json
INFO:tensorflow:Reloading Tuner from .\structured_data_classifier\tuner0.json

In [72]:
model_search.fit(x=X_train, y = y_train)

INFO:tensorflow:Oracle triggered exit
51/51 [==============================] - 2s 4ms/step - loss: 0.6876 - accuracy: 0.5830
INFO:tensorflow:Assets written to: .\structured_data_classifier\best_model\assets

In [73]:
model_search.fit(x = X_train, y = y_train)

In [74]:
loss , acc = model_search.evaluate(x = X_train, y = y_train, verbose= 0)
print(f"Train Accuracy = {acc}")

Train Accuracy = 0.6423221230506897

In [75]:
loss , acc = model_search.evaluate(x = X_test, y = y_test, verbose= 0)
print(f"Test Accuracy = {acc}")

Test Accuracy = 0.6109725832939148

### Second Model
Auto Encoder along with OverSampling

In [76]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

In [78]:
from keras.layers import Input, Dense
from keras.models import Model

input_layer = Input(shape=(X.shape[1],))
encoded = Dense(3, activation='relu')(input_layer)
decoded = Dense(X.shape[1], activation='softmax')(encoded)
autoencoder = Model(input_layer, decoded)
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

X1, X2, Y1, Y2 = train_test_split(X, X, test_size=0.3, random_state=101)

autoencoder.fit(X1, Y1,
                epochs=100,
                batch_size=300,
                shuffle=True,
                verbose = 30,
                validation_data=(X2, Y2))

encoder = Model(input_layer, encoded)
X_ae = encoder.predict(X)

Epoch 1/100
Epoch 2/100
Epoch 3/100
Epoch 4/100
Epoch 5/100
Epoch 6/100
Epoch 7/100
Epoch 8/100
Epoch 9/100
Epoch 10/100
Epoch 11/100
Epoch 12/100
Epoch 13/100
Epoch 14/100
Epoch 15/100
Epoch 16/100
Epoch 17/100
Epoch 18/100
Epoch 19/100
Epoch 20/100
Epoch 21/100
Epoch 22/100
Epoch 23/100
Epoch 24/100
Epoch 25/100
Epoch 26/100
Epoch 27/100
Epoch 28/100
Epoch 29/100
Epoch 30/100
Epoch 31/100
Epoch 32/100
Epoch 33/100
Epoch 34/100
Epoch 35/100
Epoch 36/100
Epoch 37/100
Epoch 38/100
Epoch 39/100
Epoch 40/100
Epoch 41/100
Epoch 42/100
Epoch 43/100
Epoch 44/100
Epoch 45/100
Epoch 46/100
Epoch 47/100
Epoch 48/100
Epoch 49/100
Epoch 50/100
Epoch 51/100
Epoch 52/100
Epoch 53/100
Epoch 54/100
Epoch 55/100
Epoch 56/100
Epoch 57/100
Epoch 58/100
Epoch 59/100
Epoch 60/100
Epoch 61/100
Epoch 62/100
Epoch 63/100
Epoch 64/100
Epoch 65/100
Epoch 66/100
Epoch 67/100
Epoch 68/100
Epoch 69/100
Epoch 70/100
Epoch 71/100
Epoch 72/100
Epoch 73/100
Epoch 74/100
Epoch 75/100
Epoch 76/100
Epoch 77/100
Epoch 78/100
Epoch 79/100
Epoch 80/100
Epoch 81/100
Epoch 82/100
Epoch 83/100
Epoch 84/100
Epoch 85/100
Epoch 86/100
Epoch 87/100
Epoch 88/100
Epoch 89/100
Epoch 90/100
Epoch 91/100
Epoch 92/100
Epoch 93/100
Epoch 94/100
Epoch 95/100
Epoch 96/100
Epoch 97/100
Epoch 98/100
Epoch 99/100
Epoch 100/100

In [79]:
X_ae_pd = pd.DataFrame(data = X_ae)
X_ae_pd = pd.concat([X_ae_pd, df['Atorvastatin calcium tablet']], axis = 1)
X_ae_pd.head()

          0         1         2  Atorvastatin calcium tablet
0  7.007550  6.383589  6.174093                          0.0
1  6.250620  5.852796  6.803629                          1.0
2  6.889183  5.468637  6.717799                          1.0
3  7.595971  6.578002  6.966985                          0.0
4  7.102856  6.482035  7.340285                          0.0

In [86]:
# Class count
count_class_0, count_class_1 = X_ae_pd['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = X_ae_pd[X_ae_pd['Atorvastatin calcium tablet'] == 0]
df_class_1 = X_ae_pd[X_ae_pd['Atorvastatin calcium tablet'] == 1]

In [87]:
X_ae_pd['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [88]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [89]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [91]:
X = df_test_over.drop('Atorvastatin calcium tablet',axis='columns')
y = df_test_over['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [92]:
# Number of classes in training Data
y_train.value_counts()

0.0    948
1.0    948
Name: Atorvastatin calcium tablet, dtype: int64

In [98]:
model_search = ak.StructuredDataClassifier(max_trials=100)

INFO:tensorflow:Reloading Oracle from existing project .\structured_data_classifier\oracle.json
INFO:tensorflow:Reloading Tuner from .\structured_data_classifier\tuner0.json

In [99]:
model_search.fit(x=X_train, y = y_train)

Trial 45 Complete [00h 00m 20s]
val_accuracy: 0.5777778029441833

Best val_accuracy So Far: 0.6275861859321594
Total elapsed time: 00h 07m 13s
INFO:tensorflow:Oracle triggered exit
60/60 [==============================] - 2s 6ms/step - loss: 0.6954 - accuracy: 0.5164
INFO:tensorflow:Assets written to: .\structured_data_classifier\best_model\assets

In [100]:
loss , acc = model_search.evaluate(x = X_train, y = y_train, verbose= 0)
print(f"Train Accuracy = {acc}")

Train Accuracy = 0.554852306842804

In [101]:
loss , acc = model_search.evaluate(x = X_test, y = y_test, verbose= 0)
print(f"Test Accuracy = {acc}")

Test Accuracy = 0.5168776512145996

# Principal Component Analysis

In [102]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

In [103]:
from sklearn.decomposition import PCA
pca = PCA(n_components=0.95)
X_pca = pca.fit_transform(X)
PCA_df = pd.DataFrame(data = X_pca)
PCA_df = pd.concat([PCA_df, df['Atorvastatin calcium tablet']], axis = 1)
PCA_df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Atorvastatin calcium tablet
0,-0.523476,-0.238780,0.704734,-0.251208,-0.704963,0.083239,-0.016321,-0.338960,-0.101965,-0.320476,...,0.138977,-0.090525,0.044719,-0.039023,-0.074408,0.051322,0.048233,-0.095420,-0.117281,0.0
1,0.170270,-0.465586,-0.305915,-0.404152,-0.197291,0.284409,-0.234281,-0.308266,0.124785,-0.735082,...,0.086144,0.077468,-0.026543,-0.035970,-0.196330,-0.088867,-0.180740,-0.027363,0.073743,1.0
2,0.654504,0.359562,-0.358608,-0.289298,-0.006726,-0.024271,-0.087419,0.293584,-0.030858,-0.270481,...,-0.082718,0.154134,-0.006525,-0.048231,-0.018546,0.037308,0.100942,-0.006716,0.212511,1.0
3,-0.045029,0.771255,0.576467,-0.112582,-0.453351,-0.281525,0.753308,-0.256638,-0.458042,0.048076,...,-0.047436,-0.093628,-0.014237,0.117447,0.159251,-0.136388,-0.017576,0.007260,0.066017,0.0
4,-0.753907,-0.061010,-0.256266,-0.156085,0.005529,0.046611,-0.245375,-0.039222,-0.447446,0.192799,...,0.002370,0.107162,0.069440,0.113330,0.017976,-0.023594,-0.014171,-0.010660,0.057907,0.0

In [104]:
# Class count
count_class_0, count_class_1 = PCA_df['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = PCA_df[PCA_df['Atorvastatin calcium tablet'] == 0]
df_class_1 = PCA_df[PCA_df['Atorvastatin calcium tablet'] == 1]

In [105]:
PCA_df['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [106]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [107]:
X = df_test_over.drop('Atorvastatin calcium tablet',axis='columns')
y = df_test_over['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [108]:
# Number of classes in training Data
y_train.value_counts()

0.0    948
1.0    948
Name: Atorvastatin calcium tablet, dtype: int64

In [112]:
model_search = ak.StructuredDataClassifier(max_trials=100,overwrite=True)

In [113]:
model_search.fit(x=X_train, y = y_train)

Trial 66 Complete [00h 00m 05s]
val_accuracy: 0.7722222208976746

Best val_accuracy So Far: 0.7972221970558167
Total elapsed time: 00h 16m 44s
INFO:tensorflow:Oracle triggered exit
60/60 [==============================] - 1s 3ms/step - loss: 0.6643 - accuracy: 0.6076
INFO:tensorflow:Assets written to: .\structured_data_classifier\best_model\assets

In [114]:
loss , acc = model_search.evaluate(x = X_train, y = y_train, verbose= 0)
print(f"Train Accuracy = {acc}")

Train Accuracy = 0.7304852604866028

In [115]:
loss , acc = model_search.evaluate(x = X_test, y = y_test, verbose= 0)
print(f"Test Accuracy = {acc}")

Test Accuracy = 0.6413502097129822

In [118]:
model = model_search.export_model()

In [119]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 50)]              0

 multi_category_encoding (Mu  (None, 50)               0
 ltiCategoryEncoding)

 normalization (Normalizatio  (None, 50)               101
 n)

 dense (Dense)               (None, 1024)              52224

 re_lu (ReLU)                (None, 1024)              0

 dense_1 (Dense)             (None, 32)                32800

 re_lu_1 (ReLU)              (None, 32)                0

 dense_2 (Dense)             (None, 32)                1056

 re_lu_2 (ReLU)              (None, 32)                0

 dropout (Dropout)           (None, 32)                0

 dense_3 (Dense)             (None, 1)                 33

 classification_head_1 (Acti  (None, 1)                0
 vation)

=================================================================
Total params: 86,214
Trainable params: 86,113
Non-trainable params: 101
_________________________________________________________________

In [120]:
model.save('model_best.h5')