In [1]:
import pandas as pd
import numpy as np 
from numpy import mean
from numpy import std
from sklearn.datasets import make_multilabel_classification
# from sklearn.model_selection import RepeatedKFold
# # from keras.models import Sequential
# # from keras.layers import Dense
# import tensorflow as tf
# pd.options.display.max_rows=None
# pd.options.display.max_columns=None
# from sklearn.metrics import accuracy_score
# # from keras.models import Sequential
# # from keras.layers import Dense
# from tensorflow.keras.optimizers import SGD
# from keras.metrics import binary_accuracy
# from tensorflow.keras.utils import to_categorical

# RFE and Neural Networks(Back Propogation)

In [2]:
df1=pd.read_csv("random_imputed.csv",index_col=[0])
#df1_other=pd.read_csv("random_imputed.csv",index_col=[0])
df2=pd.read_csv("Raw_NaN.csv",index_col=[0])
df3=pd.read_csv("drug_onehot_latest.csv",index_col=[0])

In [3]:
df1.drop(['gender','ageCat'],inplace=True,axis=1)

In [4]:
from sklearn import preprocessing

In [5]:
scaler = preprocessing.StandardScaler()
standard_df = scaler.fit_transform(df1)

In [6]:
# standard_df[0][1]

In [7]:
# len(standard_df)

In [8]:
scaler = preprocessing.RobustScaler()
robust_df = scaler.fit_transform(df1)

In [9]:
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit_transform(df1)

In [10]:
df4=df3['Atorvastatin calcium tablet']
df4 = df4.to_frame()

In [11]:
standard_df.shape

(2003, 126)

In [12]:
df1.shape

(2003, 126)

In [13]:
'''''
# explore the number of selected features for RFE
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from matplotlib import pyplot
 
# get the dataset
def get_dataset():
	return standard_df, df4
 
# get a list of models to evaluate
def get_models():
	models = dict()
	for i in range(30, 126):
		rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=i)
		model = LogisticRegression()
		models[str(i)] = Pipeline(steps=[('s',rfe),('m',model)])
	return models
 
# evaluate a give model using cross-validation
def evaluate_model(model, X, y):
	cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
	scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
	return scores
 
# define dataset
X, y = get_dataset()
# get the models to evaluate
models = get_models()
# evaluate the models and store results
results, names = list(), list()
for name, model in models.items():
	scores = evaluate_model(model, X, y)
	results.append(scores)
	names.append(name)
	print('>%s %.3f (%.3f)' % (name, mean(scores), std(scores)))
# plot model performance for comparison
pyplot.boxplot(results, labels=names, showmeans=True)
pyplot.show()
'''''

"''\n# explore the number of selected features for RFE\nfrom numpy import mean\nfrom numpy import std\nfrom sklearn.datasets import make_classification\nfrom sklearn.model_selection import cross_val_score\nfrom sklearn.model_selection import RepeatedStratifiedKFold\nfrom sklearn.feature_selection import RFE\nfrom sklearn.tree import DecisionTreeClassifier\nfrom sklearn.linear_model import LogisticRegression\nfrom sklearn.pipeline import Pipeline\nfrom matplotlib import pyplot\n \n# get the dataset\ndef get_dataset():\n\treturn standard_df, df4\n \n# get a list of models to evaluate\ndef get_models():\n\tmodels = dict()\n\tfor i in range(30, 126):\n\t\trfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=i)\n\t\tmodel = LogisticRegression()\n\t\tmodels[str(i)] = Pipeline(steps=[('s',rfe),('m',model)])\n\treturn models\n \n# evaluate a give model using cross-validation\ndef evaluate_model(model, X, y):\n\tcv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)\n\tscores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')\n\treturn scores\n \n# define dataset\nX, y = get_dataset()\n# get the models to evaluate\nmodels = get_models()\n# evaluate the models and store results\nresults, names = list(), list()\nfor name, model in models.items():\n\tscores = evaluate_model(model, X, y)\n\tresults.append(scores)\n\tnames.append(name)\n\tprint('>%s %.3f (%.3f)' % (name, mean(scores), std(scores)))\n# plot model performance for comparison\npyplot.boxplot(results, labels=names, showmeans=True)\npyplot.show()\n"

In [14]:
standard_df.shape

(2003, 126)

In [15]:
li = []

In [16]:
def get_dataset():
	return standard_df, df4

In [17]:
X, y = get_dataset()

In [18]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
# define dataset
# X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, random_state=1)
# define RFE
rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=79)
# fit RFE
rfe.fit(standard_df, df4)
# summarize all features
count = 0
for i in range(X.shape[1]):
    print(i,end = " ")
    print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))
    li.append(rfe.support_[i])

    if(rfe.support_[i]==True):
        count +=1

0 Column: 0, Selected True, Rank: 1.000
1 Column: 1, Selected True, Rank: 1.000
2 Column: 2, Selected True, Rank: 1.000
3 Column: 3, Selected True, Rank: 1.000
4 Column: 4, Selected True, Rank: 1.000
5 Column: 5, Selected True, Rank: 1.000
6 Column: 6, Selected True, Rank: 1.000
7 Column: 7, Selected False, Rank: 3.000
8 Column: 8, Selected False, Rank: 7.000
9 Column: 9, Selected False, Rank: 6.000
10 Column: 10, Selected True, Rank: 1.000
11 Column: 11, Selected True, Rank: 1.000
12 Column: 12, Selected True, Rank: 1.000
13 Column: 13, Selected False, Rank: 16.000
14 Column: 14, Selected True, Rank: 1.000
15 Column: 15, Selected False, Rank: 8.000
16 Column: 16, Selected False, Rank: 42.000
17 Column: 17, Selected False, Rank: 30.000
18 Column: 18, Selected False, Rank: 10.000
19 Column: 19, Selected True, Rank: 1.000
20 Column: 20, Selected False, Rank: 39.000
21 Column: 21, Selected False, Rank: 41.000
22 Column: 22, Selected False, Rank: 24.000
23 Column: 23, Selected False, Rank: 43.000
24 Column: 24, Selected False, Rank: 46.000
25 Column: 25, Selected False, Rank: 35.000
26 Column: 26, Selected True, Rank: 1.000
27 Column: 27, Selected False, Rank: 40.000
28 Column: 28, Selected False, Rank: 25.000
29 Column: 29, Selected False, Rank: 21.000
30 Column: 30, Selected False, Rank: 45.000
31 Column: 31, Selected False, Rank: 44.000
32 Column: 32, Selected False, Rank: 32.000
33 Column: 33, Selected False, Rank: 47.000
34 Column: 34, Selected False, Rank: 20.000
35 Column: 35, Selected False, Rank: 12.000
36 Column: 36, Selected True, Rank: 1.000
37 Column: 37, Selected True, Rank: 1.000
38 Column: 38, Selected True, Rank: 1.000
39 Column: 39, Selected True, Rank: 1.000
40 Column: 40, Selected True, Rank: 1.000
41 Column: 41, Selected True, Rank: 1.000
42 Column: 42, Selected True, Rank: 1.000
43 Column: 43, Selected True, Rank: 1.000
44 Column: 44, Selected True, Rank: 1.000
45 Column: 45, Selected True, Rank: 1.000
46 Column: 46, Selected True, Rank: 1.000
47 Column: 47, Selected False, Rank: 31.000
48 Column: 48, Selected True, Rank: 1.000
49 Column: 49, Selected True, Rank: 1.000
50 Column: 50, Selected False, Rank: 29.000
51 Column: 51, Selected True, Rank: 1.000
52 Column: 52, Selected True, Rank: 1.000
53 Column: 53, Selected True, Rank: 1.000
54 Column: 54, Selected True, Rank: 1.000
55 Column: 55, Selected True, Rank: 1.000
56 Column: 56, Selected True, Rank: 1.000
57 Column: 57, Selected True, Rank: 1.000
58 Column: 58, Selected False, Rank: 22.000
59 Column: 59, Selected True, Rank: 1.000
60 Column: 60, Selected True, Rank: 1.000
61 Column: 61, Selected True, Rank: 1.000
62 Column: 62, Selected True, Rank: 1.000
63 Column: 63, Selected True, Rank: 1.000
64 Column: 64, Selected True, Rank: 1.000
65 Column: 65, Selected True, Rank: 1.000
66 Column: 66, Selected False, Rank: 28.000
67 Column: 67, Selected True, Rank: 1.000
68 Column: 68, Selected True, Rank: 1.000
69 Column: 69, Selected True, Rank: 1.000
70 Column: 70, Selected True, Rank: 1.000
71 Column: 71, Selected False, Rank: 26.000
72 Column: 72, Selected True, Rank: 1.000
73 Column: 73, Selected True, Rank: 1.000
74 Column: 74, Selected True, Rank: 1.000
75 Column: 75, Selected True, Rank: 1.000
76 Column: 76, Selected True, Rank: 1.000
77 Column: 77, Selected False, Rank: 18.000
78 Column: 78, Selected False, Rank: 14.000
79 Column: 79, Selected True, Rank: 1.000
80 Column: 80, Selected True, Rank: 1.000
81 Column: 81, Selected True, Rank: 1.000
82 Column: 82, Selected True, Rank: 1.000
83 Column: 83, Selected True, Rank: 1.000
84 Column: 84, Selected True, Rank: 1.000
85 Column: 85, Selected True, Rank: 1.000
86 Column: 86, Selected True, Rank: 1.000
87 Column: 87, Selected True, Rank: 1.000
88 Column: 88, Selected True, Rank: 1.000
89 Column: 89, Selected True, Rank: 1.000
90 Column: 90, Selected True, Rank: 1.000
91 Column: 91, Selected True, Rank: 1.000
92 Column: 92, Selected False, Rank: 11.000
93 Column: 93, Selected True, Rank: 1.000
94 Column: 94, Selected True, Rank: 1.000
95 Column: 95, Selected False, Rank: 2.000
96 Column: 96, Selected True, Rank: 1.000
97 Column: 97, Selected True, Rank: 1.000
98 Column: 98, Selected True, Rank: 1.000
99 Column: 99, Selected True, Rank: 1.000
100 Column: 100, Selected True, Rank: 1.000
101 Column: 101, Selected True, Rank: 1.000
102 Column: 102, Selected True, Rank: 1.000
103 Column: 103, Selected False, Rank: 27.000
104 Column: 104, Selected False, Rank: 23.000
105 Column: 105, Selected False, Rank: 33.000
106 Column: 106, Selected False, Rank: 17.000
107 Column: 107, Selected False, Rank: 34.000
108 Column: 108, Selected True, Rank: 1.000
109 Column: 109, Selected True, Rank: 1.000
110 Column: 110, Selected True, Rank: 1.000
111 Column: 111, Selected False, Rank: 38.000
112 Column: 112, Selected True, Rank: 1.000
113 Column: 113, Selected False, Rank: 5.000
114 Column: 114, Selected True, Rank: 1.000
115 Column: 115, Selected False, Rank: 4.000
116 Column: 116, Selected True, Rank: 1.000
117 Column: 117, Selected False, Rank: 9.000
118 Column: 118, Selected True, Rank: 1.000
119 Column: 119, Selected False, Rank: 13.000
120 Column: 120, Selected False, Rank: 15.000
121 Column: 121, Selected True, Rank: 1.000
122 Column: 122, Selected False, Rank: 19.000
123 Column: 123, Selected False, Rank: 36.000
124 Column: 124, Selected False, Rank: 37.000
125 Column: 125, Selected False, Rank: 48.000

In [19]:
count

79

In [20]:
len(li)

126

In [21]:
print(li)

[True, True, True, True, True, True, True, False, False, False, True, True, True, False, True, False, False, False, False, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, False, True, True, True, True, False, True, True, True, True, True, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, True, True, False, False, False, False, False, True, True, True, False, True, False, True, False, True, False, True, False, False, True, False, False, False, False]

In [22]:
columns_to_remove = df1.columns.values[np.logical_not(li)]

In [23]:
columns_to_remove

array(['type.of.heart.failure', 'NYHA.cardiac.function.classification',
       'Killip.grade', 'cerebrovascular.disease',
       'Chronic.obstructive.pulmonary.disease',
       'connective.tissue.disease', 'peptic.ulcer.disease', 'diabetes',
       'hemiplegia', 'leukemia', 'malignant.lymphoma', 'solid.tumor',
       'liver.disease', 'AIDS', 'type.II.respiratory.failure',
       'consciousness', 'eye.opening', 'verbal.response', 'movement',
       'respiratory.support.', 'oxygen.inhalation', 'fio2',
       'acute.renal.failure',
       'coefficient.of.variation.of.red.blood.cell.distribution.width',
       'hematocrit', 'eosinophil.count', 'international.normalized.ratio',
       'high.sensitivity.troponin',
       'creatine.kinase.isoenzyme.to.creatine.kinase',
       'hydroxybutyrate.dehydrogenase.to.lactate.dehydrogenase',
       'indirect.bilirubin', 'direct.bilirubin', 'pH',
       'standard.residual.base', 'standard.bicarbonate',
       'partial.pressure.of.carbon.dioxide', 'total.carbon.dioxide',
       'potassium.ion', 'sodium.ion', 'lactate', 'measured.bicarbonate',
       'oxygen.saturation', 'partial.oxygen.pressure', 'anion.gap',
       'free.calcium', 'total.hemoglobin', 'GCS'], dtype=object)

In [24]:
len(columns_to_remove)

47

In [25]:
df1.drop(columns =columns_to_remove)

,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,myocardial.infarction,congestive.heart.failure,peripheral.vascular.disease,...,triglyceride,high.density.lipoprotein.cholesterol,methemoglobin,hematocrit.blood.gas,reduced.hemoglobin,chloride.ion,glucose.blood.gas,measured.residual.base,carboxyhemoglobin,oxyhemoglobin
inpatient.number,,,,,,,,,,,,,,,,,,,,,
722128,36.9,66,18,121,56,77.666667,18.590125,0,1,0,...,0.540000,1.340000,4.517567,0.496083,4.431313,108.903313,4.330564,-2.602756,1.217008,94.749285
723327,36.0,72,21,150,80,103.333333,21.644121,0,1,0,...,0.630000,1.010000,0.300000,21.000000,9.000000,109.000000,3.700000,-3.500000,0.700000,90.000000
723617,36.4,70,20,120,80,93.333333,31.111111,0,1,0,...,1.460000,0.500000,0.300000,31.000000,2.000000,103.000000,5.300000,3.900000,0.000000,97.700000
724385,36.7,129,22,122,86,98.000000,20.134780,0,1,0,...,1.010000,0.640000,4.517567,0.496083,4.431313,108.903313,4.330564,-2.602756,1.217008,94.749285
725509,36.9,100,20,95,65,75.000000,22.031726,0,1,0,...,0.990000,0.880000,4.517567,0.496083,4.431313,108.903313,4.330564,-2.602756,1.217008,94.749285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870258,37.0,92,19,160,80,106.666667,17.777778,0,1,0,...,0.780000,1.270000,0.400000,26.000000,1.100000,103.000000,13.000000,-6.000000,0.300000,98.200000
870646,36.0,60,30,171,117,135.000000,27.281746,0,1,0,...,0.750000,1.620000,4.517567,0.496083,4.431313,108.903313,4.330564,-2.602756,1.217008,94.749285
879601,36.5,98,19,170,65,100.000000,24.508946,0,1,0,...,1.010000,0.720000,0.700000,30.000000,32.300000,108.000000,8.300000,-1.800000,1.000000,66.000000
905163,36.6,108,18,140,68,92.000000,14.705882,0,1,0,...,0.949437,1.400576,4.517567,0.496083,4.431313,108.903313,4.330564,-2.602756,1.217008,94.749285
905720,36.5,113,18,145,113,123.666667,20.811655,0,1,0,...,0.550000,0.480000,4.517567,0.496083,4.431313,108.903313,4.330564,-2.602756,1.217008,94.749285

In [26]:
# df1.to_csv("atorv_features.csv")

In [27]:
#End of notebook