In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1 = pd.read_csv("random_imputed.csv",index_col=[0])
df1.sample(5)

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
inpatient.number,,,,,,,,,,,,,,,,,,,,,
735827,1,36.0,98,19,124,68,86.666667,21.484375,2,2,...,21.500000,0.200000,99.000000,148.00000,98.100000,11.500000,1.130000,116.000000,15,85
852935,0,36.8,58,18,110,70,83.333333,23.469388,2,3,...,30.100000,2.900000,73.000000,43.00000,70.000000,12.100000,1.050000,175.000000,15,85
729272,0,36.3,48,19,130,60,83.333333,17.777778,2,4,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,85
744571,0,36.5,78,18,101,62,75.000000,16.896235,2,4,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,65
854969,0,36.2,76,19,136,60,85.333333,17.857143,0,4,...,24.700000,1.100000,99.000000,146.00000,97.400000,12.800000,1.190000,114.000000,15,85

In [4]:
df3=pd.read_csv("drug_onehot_latest.csv",index_col=[0])
df3.head()

,sulfotanshinone sodium injection,Furosemide tablet,Meglumine Adenosine Cyclophosphate for injection,Furosemide injection,Milrinone injection,Deslanoside injection,Torasemide tablet,Benazepril hydrochloride tablet,Atorvastatin calcium tablet,Digoxin tablet,Hydrochlorothiazide tablet,Spironolactone tablet,Valsartan Dispersible tablet,Dobutamine hydrochloride injection,Isoprenaline Hydrochloride injection,Nitroglycerin injection,Shenfu injection,Isosorbide Mononitrate Sustained Release tablet
inpatient.number,,,,,,,,,,,,,,,,,,
722128,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
723327,0,1,0,1,1,1,1,0,1,1,0,1,1,0,0,0,0,1
723617,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
724385,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
725509,0,1,0,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0

In [5]:
df2=df3['Atorvastatin calcium tablet']
df2 = df2.to_frame()

In [6]:
df2.head()

                  Atorvastatin calcium tablet
inpatient.number
722128                                      0
723327                                      1
723617                                      1
724385                                      0
725509                                      0

In [7]:
df=pd.concat([df1,df2],axis=1)

In [8]:
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
inpatient.number,,,,,,,,,,,,,,,,,,,,,
722128,0,36.9,66,18,121,56,77.666667,18.590125,2,4,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
723327,0,36.0,72,21,150,80,103.333333,21.644121,2,4,...,0.700000,91.000000,64.00000,90.000000,13.000000,1.110000,73.000000,15,65,1
723617,1,36.4,70,20,120,80,93.333333,31.111111,2,3,...,0.000000,98.000000,106.00000,97.700000,9.100000,1.110000,104.000000,15,85,1
724385,1,36.7,129,22,122,86,98.000000,20.134780,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
725509,0,36.9,100,20,95,65,75.000000,22.031726,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,45,0

In [9]:
cols_to_scale = [df.columns]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_df= scaler.fit_transform(df)

In [10]:
df = pd.DataFrame(scaled_df,columns = df.columns)

In [11]:
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.132075,0.880000,0.187234,0.878342,0.316258,0.440000,0.226190,1.0,0.533333,1.0
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.000000,0.973333,0.365957,0.981283,0.229399,0.440000,0.410714,1.0,0.800000,1.0
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.266667,0.0

In [12]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = testLabels = df['Atorvastatin calcium tablet'].astype(np.float32)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [13]:
y_train.value_counts()

0.0    948
1.0    654
Name: Atorvastatin calcium tablet, dtype: int64

In [14]:
y.value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [15]:
1185/818

1.4486552567237163

In [16]:
y_test.value_counts()

0.0    237
1.0    164
Name: Atorvastatin calcium tablet, dtype: int64

In [17]:
X_train.shape

(1602, 128)

In [18]:
X_test.shape

(401, 128)

In [19]:
X_train[:10]

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
1486,0.0,0.185714,0.494949,0.555556,0.714286,0.616438,0.661765,0.054994,1.0,0.0,...,0.586745,0.094340,0.986667,0.472340,0.982620,0.340757,0.440000,0.583333,1.000000,0.800000
223,1.0,0.228571,0.353535,0.500000,0.357143,0.410959,0.386029,0.048805,1.0,1.0,...,0.348928,0.056604,0.986667,0.506383,0.987968,0.296214,0.500000,0.619048,1.000000,0.533333
1034,0.0,0.214286,0.333333,0.500000,0.492063,0.479452,0.485294,0.043263,0.0,0.5,...,0.395712,0.018868,0.986667,0.710638,1.000000,0.354120,0.520000,0.547619,1.000000,0.800000
762,0.0,0.142857,0.313131,0.500000,0.388889,0.458904,0.426471,0.046353,1.0,0.5,...,0.615984,0.094340,0.946667,0.234043,0.943850,0.400891,0.320000,0.726190,1.000000,0.400000
188,1.0,0.242857,0.303030,0.527778,0.531746,0.616438,0.577206,0.063431,1.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,0.583333,0.800000
1909,1.0,0.285714,0.328283,0.500000,0.595238,0.479452,0.533088,0.045641,0.0,0.0,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.000000,0.800000
1087,1.0,0.142857,0.520202,0.555556,0.436508,0.547945,0.496324,0.066357,1.0,0.5,...,0.391813,0.056604,0.986667,0.544681,0.989305,0.191537,0.320000,0.428571,1.000000,0.266667
1955,0.0,0.257143,0.419192,0.500000,0.543651,0.568493,0.556985,0.052795,1.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.000000,0.400000
606,0.0,0.371429,0.414141,0.555556,0.484127,0.479452,0.481618,0.047097,0.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.000000,0.400000
526,0.0,0.228571,0.338384,0.500000,0.515873,0.465753,0.488971,0.045761,1.0,1.0,...,0.578947,0.283019,0.640000,0.102128,0.631016,0.360802,0.360000,0.470238,1.000000,0.800000

In [23]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report

In [24]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)

In [25]:
predictions = mlp.predict(X_test)

In [26]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[177  60]
 [101  63]]
              precision    recall  f1-score   support

         0.0       0.64      0.75      0.69       237
         1.0       0.51      0.38      0.44       164

    accuracy                           0.60       401
   macro avg       0.57      0.57      0.56       401
weighted avg       0.59      0.60      0.59       401

In [27]:
# Class count
count_class_0, count_class_1 = df['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = df[df['Atorvastatin calcium tablet'] == 0]
df_class_1 = df[df['Atorvastatin calcium tablet'] == 1]

In [28]:
df['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [29]:
# Undersample 0-class and concat the DataFrames of both class
df_class_0_under = df_class_0.sample(count_class_1)
df_test_under = pd.concat([df_class_0_under, df_class_1], axis=0)

print('Random under-sampling:')
print(df_test_under['Atorvastatin calcium tablet'].value_counts())

Random under-sampling:
0.0    818
1.0    818
Name: Atorvastatin calcium tablet, dtype: int64

In [30]:
X = df_test_under.drop('Atorvastatin calcium tablet',axis='columns')
y = df_test_under['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [31]:
# Number of classes in training Data
y_train.value_counts()

1.0    654
0.0    654
Name: Atorvastatin calcium tablet, dtype: int64

In [32]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)

In [33]:
predictions = mlp.predict(X_test)

In [34]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[80 84]
 [66 98]]
              precision    recall  f1-score   support

         0.0       0.55      0.49      0.52       164
         1.0       0.54      0.60      0.57       164

    accuracy                           0.54       328
   macro avg       0.54      0.54      0.54       328
weighted avg       0.54      0.54      0.54       328

# Some feature will be tried along with over sampling and then running on the neural network

In [35]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

In [36]:
from sklearn.decomposition import PCA
pca = PCA(n_components=0.95)
X_pca = pca.fit_transform(X)
PCA_df = pd.DataFrame(data = X_pca)
PCA_df = pd.concat([PCA_df, df['Atorvastatin calcium tablet']], axis = 1)
PCA_df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Atorvastatin calcium tablet
0,-0.523476,-0.238780,0.704734,-0.251208,-0.704963,0.083239,-0.016321,-0.338960,-0.101965,-0.320476,...,0.138977,-0.090525,0.044719,-0.039023,-0.074408,0.051322,0.048233,-0.095420,-0.117281,0.0
1,0.170270,-0.465586,-0.305915,-0.404152,-0.197291,0.284409,-0.234281,-0.308266,0.124785,-0.735082,...,0.086144,0.077468,-0.026543,-0.035970,-0.196330,-0.088867,-0.180740,-0.027363,0.073743,1.0
2,0.654504,0.359562,-0.358608,-0.289298,-0.006726,-0.024271,-0.087419,0.293584,-0.030858,-0.270481,...,-0.082718,0.154134,-0.006525,-0.048231,-0.018546,0.037308,0.100942,-0.006716,0.212511,1.0
3,-0.045029,0.771255,0.576467,-0.112582,-0.453351,-0.281525,0.753308,-0.256638,-0.458042,0.048076,...,-0.047436,-0.093628,-0.014237,0.117447,0.159251,-0.136388,-0.017576,0.007260,0.066017,0.0
4,-0.753907,-0.061010,-0.256266,-0.156085,0.005529,0.046611,-0.245375,-0.039222,-0.447446,0.192799,...,0.002370,0.107162,0.069440,0.113330,0.017976,-0.023594,-0.014171,-0.010660,0.057907,0.0

In [37]:
# Class count
count_class_0, count_class_1 = PCA_df['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = PCA_df[PCA_df['Atorvastatin calcium tablet'] == 0]
df_class_1 = PCA_df[PCA_df['Atorvastatin calcium tablet'] == 1]

In [38]:
PCA_df['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [39]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [40]:
X = df_test_over.drop('Atorvastatin calcium tablet',axis='columns')
y = df_test_over['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [41]:
# Number of classes in training Data
y_train.value_counts()

1.0    948
0.0    948
Name: Atorvastatin calcium tablet, dtype: int64

In [43]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())
predictions = mlp.predict(X_test)

In [44]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[157  80]
 [ 34 203]]
              precision    recall  f1-score   support

         0.0       0.82      0.66      0.73       237
         1.0       0.72      0.86      0.78       237

    accuracy                           0.76       474
   macro avg       0.77      0.76      0.76       474
weighted avg       0.77      0.76      0.76       474

# Independent Component Analysis

In [ ]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

In [45]:
from sklearn.decomposition import FastICA

ica = FastICA(n_components=3)
X_ica = ica.fit_transform(X)
X_ica = pd.DataFrame(data = X_ica)
X_ica = pd.concat([X_ica, df['Atorvastatin calcium tablet']], axis = 1)
X_ica.head()

          0         1         2  Atorvastatin calcium tablet
0 -0.021742 -0.025852  0.014303                          0.0
1 -0.018781 -0.019651 -0.031103                          1.0
2 -0.021337  0.017247  0.011603                          1.0
3 -0.021940  0.019419  0.017304                          0.0
4 -0.019285  0.013616  0.015664                          0.0

In [46]:
# Class count
count_class_0, count_class_1 = X_ica['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = X_ica[X_ica['Atorvastatin calcium tablet'] == 0]
df_class_1 = X_ica[X_ica['Atorvastatin calcium tablet'] == 1]

In [47]:
PCA_df['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [48]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [49]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [ ]:
X = df_test_over.drop('Atorvastatin calcium tablet',axis='columns')
y = df_test_over['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [ ]:
# Number of classes in training Data
y_train.value_counts()

In [ ]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())
predictions = mlp.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

# Linear Discriminant Analysis (LDA)

In [50]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [61]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

lda = LinearDiscriminantAnalysis(n_components=1)

# run an LDA and use it to transform the features
X_lda = lda.fit(X, y).transform(X)
X_lda = pd.DataFrame(data = X_lda)
X_lda = pd.concat([X_lda, df['Atorvastatin calcium tablet']], axis = 1)
X_lda.head()

          0  Atorvastatin calcium tablet
0 -1.184931                          0.0
1 -1.109786                          1.0
2 -3.007182                          1.0
3 -1.274957                          0.0
4  0.417252                          0.0

In [62]:
X_lda['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [53]:
# Class count
count_class_0, count_class_1 = X_lda['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = X_lda[X_lda['Atorvastatin calcium tablet'] == 0]
df_class_1 = X_lda[X_lda['Atorvastatin calcium tablet'] == 1]

In [54]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [55]:
X = df_test_over.drop('Atorvastatin calcium tablet',axis='columns')
y = df_test_over['Atorvastatin calcium tablet']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [56]:
# Number of classes in training Data
y_train.value_counts()

1.0    948
0.0    948
Name: Atorvastatin calcium tablet, dtype: int64

In [58]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())
predictions = mlp.predict(X_test)

In [59]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[166  71]
 [ 78 159]]
              precision    recall  f1-score   support

         0.0       0.68      0.70      0.69       237
         1.0       0.69      0.67      0.68       237

    accuracy                           0.69       474
   macro avg       0.69      0.69      0.69       474
weighted avg       0.69      0.69      0.69       474

# Auto Encoder

In [63]:
X = df.drop('Atorvastatin calcium tablet',axis='columns')
y = df['Atorvastatin calcium tablet']

In [64]:
from keras.layers import Input, Dense
from keras.models import Model

input_layer = Input(shape=(X.shape[1],))
encoded = Dense(3, activation='relu')(input_layer)
decoded = Dense(X.shape[1], activation='softmax')(encoded)
autoencoder = Model(input_layer, decoded)
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

X1, X2, Y1, Y2 = train_test_split(X, X, test_size=0.3, random_state=101)

autoencoder.fit(X1, Y1,
                epochs=100,
                batch_size=300,
                shuffle=True,
                verbose = 30,
                validation_data=(X2, Y2))

encoder = Model(input_layer, encoded)
X_ae = encoder.predict(X)

Epoch 1/100
Epoch 2/100
Epoch 3/100
Epoch 4/100
Epoch 5/100
Epoch 6/100
Epoch 7/100
Epoch 8/100
Epoch 9/100
Epoch 10/100
Epoch 11/100
Epoch 12/100
Epoch 13/100
Epoch 14/100
Epoch 15/100
Epoch 16/100
Epoch 17/100
Epoch 18/100
Epoch 19/100
Epoch 20/100
Epoch 21/100
Epoch 22/100
Epoch 23/100
Epoch 24/100
Epoch 25/100
Epoch 26/100
Epoch 27/100
Epoch 28/100
Epoch 29/100
Epoch 30/100
Epoch 31/100
Epoch 32/100
Epoch 33/100
Epoch 34/100
Epoch 35/100
Epoch 36/100
Epoch 37/100
Epoch 38/100
Epoch 39/100
Epoch 40/100
Epoch 41/100
Epoch 42/100
Epoch 43/100
Epoch 44/100
Epoch 45/100
Epoch 46/100
Epoch 47/100
Epoch 48/100
Epoch 49/100
Epoch 50/100
Epoch 51/100
Epoch 52/100
Epoch 53/100
Epoch 54/100
Epoch 55/100
Epoch 56/100
Epoch 57/100
Epoch 58/100
Epoch 59/100
Epoch 60/100
Epoch 61/100
Epoch 62/100
Epoch 63/100
Epoch 64/100
Epoch 65/100
Epoch 66/100
Epoch 67/100
Epoch 68/100
Epoch 69/100
Epoch 70/100
Epoch 71/100
Epoch 72/100
Epoch 73/100
Epoch 74/100
Epoch 75/100
Epoch 76/100
Epoch 77/100
Epoch 78/100
Epoch 79/100
Epoch 80/100
Epoch 81/100
Epoch 82/100
Epoch 83/100
Epoch 84/100
Epoch 85/100
Epoch 86/100
Epoch 87/100
Epoch 88/100
Epoch 89/100
Epoch 90/100
Epoch 91/100
Epoch 92/100
Epoch 93/100
Epoch 94/100
Epoch 95/100
Epoch 96/100
Epoch 97/100
Epoch 98/100
Epoch 99/100
Epoch 100/100

In [65]:
X_ae_pd = pd.DataFrame(data = X_ae)
X_ae_pd = pd.concat([X_ae_pd, df['Atorvastatin calcium tablet']], axis = 1)
X_ae_pd.head()

     0         1         2  Atorvastatin calcium tablet
0  0.0  7.968082  8.179220                          0.0
1  0.0  7.434081  7.674690                          1.0
2  0.0  7.996837  7.272714                          1.0
3  0.0  8.392302  8.042576                          0.0
4  0.0  8.171814  8.507732                          0.0

In [66]:
# Class count
count_class_0, count_class_1 = X_ae_pd['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = X_ae_pd[X_ae_pd['Atorvastatin calcium tablet'] == 0]
df_class_1 = X_ae_pd[X_ae_pd['Atorvastatin calcium tablet'] == 1]

In [67]:
PCA_df['Atorvastatin calcium tablet'].value_counts()

0.0    1185
1.0     818
Name: Atorvastatin calcium tablet, dtype: int64

In [68]:
# Class count
count_class_0, count_class_1 = X_lda['Atorvastatin calcium tablet'].value_counts()

# Divide by class
df_class_0 = X_lda[X_lda['Atorvastatin calcium tablet'] == 0]
df_class_1 = X_lda[X_lda['Atorvastatin calcium tablet'] == 1]

In [69]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [70]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over['Atorvastatin calcium tablet'].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [71]:
# Number of classes in training Data
y_train.value_counts()

1.0    948
0.0    948
Name: Atorvastatin calcium tablet, dtype: int64

In [77]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32, 16), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())
predictions = mlp.predict(X_test)

In [78]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[165  72]
 [ 78 159]]
              precision    recall  f1-score   support

         0.0       0.68      0.70      0.69       237
         1.0       0.69      0.67      0.68       237

    accuracy                           0.68       474
   macro avg       0.68      0.68      0.68       474
weighted avg       0.68      0.68      0.68       474