# Importing Libraries

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report

In [3]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df1 = pd.read_csv("random_imputed.csv",index_col=[0])
df1.sample(5)

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
inpatient.number,,,,,,,,,,,,,,,,,,,,,
758866,0,36.3,54,18,140,70,93.333333,17.777778,0,3,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75
866826,1,36.5,45,18,118,57,77.333333,21.484375,2,3,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75
774776,0,36.5,86,20,90,50,63.333333,17.777778,0,3,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,65
765507,1,36.4,65,19,110,60,76.666667,24.977043,0,4,...,23.246503,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75
749496,0,36.8,100,18,150,80,103.333333,27.032872,2,3,...,28.800000,2.000000,98.000000,103.00000,95.400000,12.200000,1.120000,70.000000,15,85

In [6]:
df3=pd.read_csv("drug_onehot_latest.csv",index_col=[0])
df3.head()

,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
inpatient.number,,,,,,,,,,,,,,,,,,
722128,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
723327,1,0,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,0
723617,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
724385,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
725509,0,0,1,1,0,1,1,0,0,0,0,1,0,1,1,1,0,0

In [7]:
q="Atorvastatin calcium tablet"

In [8]:
df2=df3[q]
df2 = df2.to_frame()

In [10]:
df2

                  Atorvastatin calcium tablet
inpatient.number
722128                                      0
723327                                      1
723617                                      1
724385                                      0
725509                                      0
...                                       ...
870258                                      0
870646                                      0
879601                                      1
905163                                      0
905720                                      1

[2003 rows x 1 columns]

In [9]:
df=pd.concat([df1,df2],axis=1)

In [11]:
df

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
inpatient.number,,,,,,,,,,,,,,,,,,,,,
722128,0,36.9,66,18,121,56,77.666667,18.590125,2,4,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
723327,0,36.0,72,21,150,80,103.333333,21.644121,2,4,...,0.700000,91.000000,64.00000,90.000000,13.000000,1.110000,73.000000,15,65,1
723617,1,36.4,70,20,120,80,93.333333,31.111111,2,3,...,0.000000,98.000000,106.00000,97.700000,9.100000,1.110000,104.000000,15,85,1
724385,1,36.7,129,22,122,86,98.000000,20.134780,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
725509,0,36.9,100,20,95,65,75.000000,22.031726,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,45,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870258,0,37.0,92,19,160,80,106.666667,17.777778,0,4,...,0.300000,99.000000,152.00000,98.200000,15.900000,1.060000,89.000000,15,100,0
870646,0,36.0,60,30,171,117,135.000000,27.281746,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
879601,1,36.5,98,19,170,65,100.000000,24.508946,2,3,...,1.000000,67.000000,39.00000,66.000000,8.500000,1.100000,102.000000,15,85,1
905163,1,36.6,108,18,140,68,92.000000,14.705882,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
905720,0,36.5,113,18,145,113,123.666667,20.811655,2,4,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,100,1

In [10]:
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
inpatient.number,,,,,,,,,,,,,,,,,,,,,
722128,0,36.9,66,18,121,56,77.666667,18.590125,2,4,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
723327,0,36.0,72,21,150,80,103.333333,21.644121,2,4,...,0.700000,91.000000,64.00000,90.000000,13.000000,1.110000,73.000000,15,65,1
723617,1,36.4,70,20,120,80,93.333333,31.111111,2,3,...,0.000000,98.000000,106.00000,97.700000,9.100000,1.110000,104.000000,15,85,1
724385,1,36.7,129,22,122,86,98.000000,20.134780,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,75,0
725509,0,36.9,100,20,95,65,75.000000,22.031726,2,3,...,1.217008,96.585423,86.74564,94.749285,15.874385,1.252327,151.929679,15,45,0

In [12]:
cols_to_scale = [df.columns]

scaler = MinMaxScaler()
scaled_df= scaler.fit_transform(df)

In [13]:
df = pd.DataFrame(scaled_df,columns = df.columns)

In [14]:
df

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat,Atorvastatin calcium tablet
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.132075,0.880000,0.187234,0.878342,0.316258,0.440000,0.226190,1.0,0.533333,1.0
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.000000,0.973333,0.365957,0.981283,0.229399,0.440000,0.410714,1.0,0.800000,1.0
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.266667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,0.0,0.285714,0.464646,0.527778,0.634921,0.547945,0.588235,0.043996,0.0,1.0,...,0.056604,0.986667,0.561702,0.987968,0.380846,0.340000,0.321429,1.0,1.000000,0.0
1999,0.0,0.142857,0.303030,0.833333,0.678571,0.801370,0.744485,0.067515,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
2000,1.0,0.214286,0.494949,0.527778,0.674603,0.445205,0.551471,0.060653,1.0,0.5,...,0.188679,0.560000,0.080851,0.557487,0.216036,0.420000,0.398810,1.0,0.800000,1.0
2001,1.0,0.228571,0.545455,0.500000,0.555556,0.465753,0.507353,0.036393,1.0,0.5,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667,0.0
2002,0.0,0.214286,0.570707,0.500000,0.575397,0.773973,0.681985,0.051504,1.0,1.0,...,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,1.000000,1.0

# the ANN Function

In [15]:
def ANN(X_train, y_train, X_test, y_test, loss, weights):
    model = keras.Sequential([
        keras.layers.Dense(128, input_dim=50
                           , activation='relu'),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='rmsprop', loss=loss, metrics=['accuracy'])
    
    if weights == -1:
        model.fit(X_train, y_train, epochs=50)
    else:
        model.fit(X_train, y_train, epochs=50, class_weight = weights)
    
    print(model.evaluate(X_test, y_test))
    
    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)
    
    print("Classification Report: \n", classification_report(y_test, y_preds))
    
    return y_preds

# Principle Component Analysis

In [16]:
X = df.drop(q,axis='columns')
y = df[q]

In [17]:
X

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.391813,0.132075,0.880000,0.187234,0.878342,0.316258,0.440000,0.226190,1.0,0.533333
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.500975,0.000000,0.973333,0.365957,0.981283,0.229399,0.440000,0.410714,1.0,0.800000
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,0.0,0.285714,0.464646,0.527778,0.634921,0.547945,0.588235,0.043996,0.0,1.0,...,0.335283,0.056604,0.986667,0.561702,0.987968,0.380846,0.340000,0.321429,1.0,1.000000
1999,0.0,0.142857,0.303030,0.833333,0.678571,0.801370,0.744485,0.067515,1.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667
2000,1.0,0.214286,0.494949,0.527778,0.674603,0.445205,0.551471,0.060653,1.0,0.5,...,0.417154,0.188679,0.560000,0.080851,0.557487,0.216036,0.420000,0.398810,1.0,0.800000
2001,1.0,0.228571,0.545455,0.500000,0.555556,0.465753,0.507353,0.036393,1.0,0.5,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,0.666667
2002,0.0,0.214286,0.570707,0.500000,0.575397,0.773973,0.681985,0.051504,1.0,1.0,...,0.418060,0.229624,0.954472,0.284024,0.941835,0.380276,0.724655,0.696010,1.0,1.000000

In [18]:
y.to_frame()

      Atorvastatin calcium tablet
0                             0.0
1                             1.0
2                             1.0
3                             0.0
4                             0.0
...                           ...
1998                          0.0
1999                          0.0
2000                          1.0
2001                          0.0
2002                          1.0

[2003 rows x 1 columns]

In [19]:
pca = PCA(n_components=0.95)
X_pca = pca.fit_transform(X)
PCA_df = pd.DataFrame(data = X_pca)
PCA_df = pd.concat([PCA_df, df[q]], axis = 1)
PCA_df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Atorvastatin calcium tablet
0,-0.523476,-0.238780,0.704734,-0.251208,-0.704963,0.083239,-0.016321,-0.338960,-0.101965,-0.320476,...,0.138977,-0.090525,0.044719,-0.039023,-0.074408,0.051322,0.048233,-0.095420,-0.117281,0.0
1,0.170270,-0.465586,-0.305915,-0.404152,-0.197291,0.284409,-0.234281,-0.308266,0.124785,-0.735082,...,0.086144,0.077468,-0.026543,-0.035970,-0.196330,-0.088867,-0.180740,-0.027363,0.073743,1.0
2,0.654504,0.359562,-0.358608,-0.289298,-0.006726,-0.024271,-0.087419,0.293584,-0.030858,-0.270481,...,-0.082718,0.154134,-0.006525,-0.048231,-0.018546,0.037308,0.100942,-0.006716,0.212511,1.0
3,-0.045029,0.771255,0.576467,-0.112582,-0.453351,-0.281525,0.753308,-0.256638,-0.458042,0.048076,...,-0.047436,-0.093628,-0.014237,0.117447,0.159251,-0.136388,-0.017576,0.007260,0.066017,0.0
4,-0.753907,-0.061010,-0.256266,-0.156085,0.005529,0.046611,-0.245375,-0.039222,-0.447446,0.192799,...,0.002370,0.107162,0.069440,0.113330,0.017976,-0.023594,-0.014171,-0.010660,0.057907,0.0

# OverSampling

In [17]:
count_class_0, count_class_1 = PCA_df[q].value_counts()[0], PCA_df[q].value_counts()[1]

# Divide by class
df_class_0 = PCA_df[PCA_df[q] == 0]
df_class_1 = PCA_df[PCA_df[q] == 1]

In [18]:
PCA_df[q].value_counts(ascending =True)

1.0     818
0.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [19]:
# Oversample 1-class and concat the DataFrames of both classes( if count of 0 greater than count of 1)
# Oversample 0-class and concat the DataFrames of both classes( if count of 0 lesser than count of 1)
if count_class_0>count_class_1:
    df_class_1_over = df_class_1.sample(count_class_0, replace=True)
    df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

    print('Random over-sampling:')
    print(df_test_over[q].value_counts())
else:
    df_class_0_over = df_class_0.sample(count_class_1,replace=True)
    df_test_over = pd.concat([df_class_0_over, df_class_1], axis=0)

    print('Random over-sampling:')
    print(df_test_over[q].value_counts())

Random over-sampling:
0.0    1185
1.0    1185
Name: Atorvastatin calcium tablet, dtype: int64

In [20]:
X = df_test_over.drop(q,axis='columns')
y = df_test_over[q]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [21]:
# Number of classes in training Data
y_train.value_counts()

1.0    948
0.0    948
Name: Atorvastatin calcium tablet, dtype: int64

In [22]:
loss = keras.losses.BinaryCrossentropy()
weights = -1
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1)

Epoch 1/50
60/60 [==============================] - 1s 1ms/step - loss: 0.6781 - accuracy: 0.5928
Epoch 2/50
60/60 [==============================] - 0s 1ms/step - loss: 0.6465 - accuracy: 0.6545
Epoch 3/50
60/60 [==============================] - 0s 2ms/step - loss: 0.6152 - accuracy: 0.6667
Epoch 4/50
60/60 [==============================] - 0s 2ms/step - loss: 0.5914 - accuracy: 0.6872
Epoch 5/50
60/60 [==============================] - 0s 1ms/step - loss: 0.5734 - accuracy: 0.6925
Epoch 6/50
60/60 [==============================] - 0s 1ms/step - loss: 0.5582 - accuracy: 0.7126
Epoch 7/50
60/60 [==============================] - 0s 981us/step - loss: 0.5441 - accuracy: 0.7226
Epoch 8/50
60/60 [==============================] - 0s 814us/step - loss: 0.5297 - accuracy: 0.7347
Epoch 9/50
60/60 [==============================] - 0s 1ms/step - loss: 0.5164 - accuracy: 0.7474
Epoch 10/50
60/60 [==============================] - 0s 1ms/step - loss: 0.5013 - accuracy: 0.7526
Epoch 11/50
60/60 [==============================] - 0s 913us/step - loss: 0.4868 - accuracy: 0.7679
Epoch 12/50
60/60 [==============================] - 0s 947us/step - loss: 0.4702 - accuracy: 0.7822
Epoch 13/50
60/60 [==============================] - 0s 947us/step - loss: 0.4548 - accuracy: 0.7917
Epoch 14/50
60/60 [==============================] - 0s 913us/step - loss: 0.4386 - accuracy: 0.8064
Epoch 15/50
60/60 [==============================] - 0s 1ms/step - loss: 0.4221 - accuracy: 0.8159
Epoch 16/50
60/60 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8328
Epoch 17/50
60/60 [==============================] - 0s 2ms/step - loss: 0.3875 - accuracy: 0.8402
Epoch 18/50
60/60 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8586
Epoch 19/50
60/60 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8576
Epoch 20/50
60/60 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8713
Epoch 21/50
60/60 [==============================] - 0s 992us/step - loss: 0.3203 - accuracy: 0.8782
Epoch 22/50
60/60 [==============================] - 0s 884us/step - loss: 0.3034 - accuracy: 0.8898
Epoch 23/50
60/60 [==============================] - 0s 842us/step - loss: 0.2860 - accuracy: 0.9045
Epoch 24/50
60/60 [==============================] - 0s 897us/step - loss: 0.2749 - accuracy: 0.9040
Epoch 25/50
60/60 [==============================] - 0s 801us/step - loss: 0.2577 - accuracy: 0.9140
Epoch 26/50
60/60 [==============================] - 0s 843us/step - loss: 0.2440 - accuracy: 0.9172
Epoch 27/50
60/60 [==============================] - 0s 845us/step - loss: 0.2310 - accuracy: 0.9235
Epoch 28/50
60/60 [==============================] - 0s 900us/step - loss: 0.2158 - accuracy: 0.9299
Epoch 29/50
60/60 [==============================] - 0s 805us/step - loss: 0.2033 - accuracy: 0.9325
Epoch 30/50
60/60 [==============================] - 0s 839us/step - loss: 0.1910 - accuracy: 0.9388
Epoch 31/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1801 - accuracy: 0.9415
Epoch 32/50
60/60 [==============================] - 0s 976us/step - loss: 0.1676 - accuracy: 0.9520
Epoch 33/50
60/60 [==============================] - 0s 898us/step - loss: 0.1544 - accuracy: 0.9573
Epoch 34/50
60/60 [==============================] - 0s 811us/step - loss: 0.1431 - accuracy: 0.9573
Epoch 35/50
60/60 [==============================] - 0s 845us/step - loss: 0.1330 - accuracy: 0.9668
Epoch 36/50
60/60 [==============================] - 0s 832us/step - loss: 0.1248 - accuracy: 0.9689
Epoch 37/50
60/60 [==============================] - 0s 943us/step - loss: 0.1158 - accuracy: 0.9684
Epoch 38/50
60/60 [==============================] - 0s 876us/step - loss: 0.1042 - accuracy: 0.9778
Epoch 39/50
60/60 [==============================] - 0s 843us/step - loss: 0.0972 - accuracy: 0.9794
Epoch 40/50
60/60 [==============================] - 0s 882us/step - loss: 0.0879 - accuracy: 0.9810
Epoch 41/50
60/60 [==============================] - 0s 841us/step - loss: 0.0787 - accuracy: 0.9852
Epoch 42/50
60/60 [==============================] - 0s 803us/step - loss: 0.0719 - accuracy: 0.9873
Epoch 43/50
60/60 [==============================] - 0s 800us/step - loss: 0.0674 - accuracy: 0.9900
Epoch 44/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0588 - accuracy: 0.9942
Epoch 45/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0539 - accuracy: 0.9931
Epoch 46/50
60/60 [==============================] - 0s 810us/step - loss: 0.0471 - accuracy: 0.9963
Epoch 47/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0444 - accuracy: 0.9947
Epoch 48/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0380 - accuracy: 0.9974
Epoch 49/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0346 - accuracy: 0.9968
Epoch 50/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0301 - accuracy: 0.9984
15/15 [==============================] - 0s 817us/step - loss: 1.1314 - accuracy: 0.7468
[1.1314263343811035, 0.746835470199585]
Classification Report:
               precision    recall  f1-score   support

         0.0       0.75      0.73      0.74       237
         1.0       0.74      0.76      0.75       237

    accuracy                           0.75       474
   macro avg       0.75      0.75      0.75       474
weighted avg       0.75      0.75      0.75       474