In [7]:
import pandas as pd
import numpy as np 
from numpy import mean
from numpy import std
from sklearn.datasets import make_multilabel_classification
# from sklearn.model_selection import RepeatedKFold
# # from keras.models import Sequential
# # from keras.layers import Dense
# import tensorflow as tf
# pd.options.display.max_rows=None
# pd.options.display.max_columns=None
# from sklearn.metrics import accuracy_score
# # from keras.models import Sequential
# # from keras.layers import Dense
# from tensorflow.keras.optimizers import SGD
# from keras.metrics import binary_accuracy
# from tensorflow.keras.utils import to_categorical

# RFE and Neural Networks(Back Propogation)

In [8]:
df1=pd.read_csv("random_imputed.csv",index_col=[0])
#df1_other=pd.read_csv("random_imputed.csv",index_col=[0])
df2=pd.read_csv("Raw_NaN.csv",index_col=[0])
df3=pd.read_csv("drug_onehot_latest.csv",index_col=[0])

In [9]:
df1.drop(['gender','ageCat'],inplace=True,axis=1)

In [10]:
from sklearn import preprocessing

In [11]:
scaler = preprocessing.StandardScaler()
standard_df = scaler.fit_transform(df1)

In [12]:
# standard_df[0][1]

In [13]:
# len(standard_df)

In [14]:
scaler = preprocessing.RobustScaler()
robust_df = scaler.fit_transform(df1)

In [15]:
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit_transform(df1)

In [16]:
df4=df3['Atorvastatin calcium tablet']
df4 = df4.to_frame()

In [17]:
standard_df.shape

(2003, 126)

In [18]:
df1.shape

(2003, 126)

In [ ]:

# explore the number of selected features for RFE
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from matplotlib import pyplot
 
# get the dataset
def get_dataset():
	return standard_df, df4
 
# get a list of models to evaluate
def get_models():
	models = dict()
	for i in range(30, 126):
		rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=i)
		model = LogisticRegression()
		models[str(i)] = Pipeline(steps=[('s',rfe),('m',model)])
	return models
 
# evaluate a give model using cross-validation
def evaluate_model(model, X, y):
	cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
	scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
	return scores
 
# define dataset
X, y = get_dataset()
# get the models to evaluate
models = get_models()
# evaluate the models and store results
results, names = list(), list()
for name, model in models.items():
	scores = evaluate_model(model, X, y)
	results.append(scores)
	names.append(name)
	print('>%s %.3f (%.3f)' % (name, mean(scores), std(scores)))
# plot model performance for comparison
pyplot.boxplot(results, labels=names, showmeans=True)
pyplot.show()

In [19]:
standard_df.shape

(2003, 126)

In [20]:
li = []

In [21]:
def get_dataset():
	return standard_df, df4

In [22]:
X, y = get_dataset()

In [23]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
# define dataset
# X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, random_state=1)
# define RFE
rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=79)
# fit RFE
rfe.fit(standard_df, df4)
# summarize all features
count = 0
for i in range(X.shape[1]):
	print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))
	if(rfe.support_[i]==True):
		count +=1
		# print(i)
		li.append(i)

Column: 0, Selected True, Rank: 1.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected True, Rank: 1.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected True, Rank: 1.000
Column: 5, Selected True, Rank: 1.000
Column: 6, Selected True, Rank: 1.000
Column: 7, Selected False, Rank: 9.000
Column: 8, Selected False, Rank: 22.000
Column: 9, Selected False, Rank: 15.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected True, Rank: 1.000
Column: 14, Selected True, Rank: 1.000
Column: 15, Selected False, Rank: 40.000
Column: 16, Selected False, Rank: 20.000
Column: 17, Selected False, Rank: 31.000
Column: 18, Selected False, Rank: 37.000
Column: 19, Selected True, Rank: 1.000
Column: 20, Selected False, Rank: 45.000
Column: 21, Selected False, Rank: 46.000
Column: 22, Selected False, Rank: 33.000
Column: 23, Selected False, Rank: 36.000
Column: 24, Selected False, Rank: 47.000
Column: 25, Selected False, Rank: 32.000
Column: 26, Selected True, Rank: 1.000
Column: 27, Selected False, Rank: 28.000
Column: 28, Selected False, Rank: 44.000
Column: 29, Selected False, Rank: 26.000
Column: 30, Selected False, Rank: 14.000
Column: 31, Selected False, Rank: 41.000
Column: 32, Selected False, Rank: 34.000
Column: 33, Selected False, Rank: 43.000
Column: 34, Selected False, Rank: 39.000
Column: 35, Selected False, Rank: 11.000
Column: 36, Selected True, Rank: 1.000
Column: 37, Selected True, Rank: 1.000
Column: 38, Selected True, Rank: 1.000
Column: 39, Selected True, Rank: 1.000
Column: 40, Selected True, Rank: 1.000
Column: 41, Selected True, Rank: 1.000
Column: 42, Selected True, Rank: 1.000
Column: 43, Selected True, Rank: 1.000
Column: 44, Selected True, Rank: 1.000
Column: 45, Selected True, Rank: 1.000
Column: 46, Selected False, Rank: 7.000
Column: 47, Selected False, Rank: 3.000
Column: 48, Selected True, Rank: 1.000
Column: 49, Selected True, Rank: 1.000
Column: 50, Selected False, Rank: 18.000
Column: 51, Selected True, Rank: 1.000
Column: 52, Selected True, Rank: 1.000
Column: 53, Selected True, Rank: 1.000
Column: 54, Selected True, Rank: 1.000
Column: 55, Selected True, Rank: 1.000
Column: 56, Selected True, Rank: 1.000
Column: 57, Selected True, Rank: 1.000
Column: 58, Selected False, Rank: 27.000
Column: 59, Selected True, Rank: 1.000
Column: 60, Selected True, Rank: 1.000
Column: 61, Selected True, Rank: 1.000
Column: 62, Selected True, Rank: 1.000
Column: 63, Selected True, Rank: 1.000
Column: 64, Selected True, Rank: 1.000
Column: 65, Selected True, Rank: 1.000
Column: 66, Selected False, Rank: 10.000
Column: 67, Selected True, Rank: 1.000
Column: 68, Selected True, Rank: 1.000
Column: 69, Selected True, Rank: 1.000
Column: 70, Selected True, Rank: 1.000
Column: 71, Selected True, Rank: 1.000
Column: 72, Selected True, Rank: 1.000
Column: 73, Selected True, Rank: 1.000
Column: 74, Selected True, Rank: 1.000
Column: 75, Selected True, Rank: 1.000
Column: 76, Selected True, Rank: 1.000
Column: 77, Selected False, Rank: 16.000
Column: 78, Selected True, Rank: 1.000
Column: 79, Selected True, Rank: 1.000
Column: 80, Selected True, Rank: 1.000
Column: 81, Selected True, Rank: 1.000
Column: 82, Selected True, Rank: 1.000
Column: 83, Selected True, Rank: 1.000
Column: 84, Selected True, Rank: 1.000
Column: 85, Selected False, Rank: 13.000
Column: 86, Selected True, Rank: 1.000
Column: 87, Selected True, Rank: 1.000
Column: 88, Selected True, Rank: 1.000
Column: 89, Selected True, Rank: 1.000
Column: 90, Selected True, Rank: 1.000
Column: 91, Selected True, Rank: 1.000
Column: 92, Selected False, Rank: 38.000
Column: 93, Selected True, Rank: 1.000
Column: 94, Selected True, Rank: 1.000
Column: 95, Selected False, Rank: 4.000
Column: 96, Selected True, Rank: 1.000
Column: 97, Selected True, Rank: 1.000
Column: 98, Selected True, Rank: 1.000
Column: 99, Selected True, Rank: 1.000
Column: 100, Selected True, Rank: 1.000
Column: 101, Selected True, Rank: 1.000
Column: 102, Selected True, Rank: 1.000
Column: 103, Selected False, Rank: 2.000
Column: 104, Selected False, Rank: 24.000
Column: 105, Selected False, Rank: 30.000
Column: 106, Selected False, Rank: 35.000
Column: 107, Selected False, Rank: 23.000
Column: 108, Selected True, Rank: 1.000
Column: 109, Selected True, Rank: 1.000
Column: 110, Selected True, Rank: 1.000
Column: 111, Selected True, Rank: 1.000
Column: 112, Selected False, Rank: 6.000
Column: 113, Selected False, Rank: 12.000
Column: 114, Selected True, Rank: 1.000
Column: 115, Selected False, Rank: 8.000
Column: 116, Selected False, Rank: 17.000
Column: 117, Selected False, Rank: 42.000
Column: 118, Selected True, Rank: 1.000
Column: 119, Selected False, Rank: 5.000
Column: 120, Selected False, Rank: 19.000
Column: 121, Selected True, Rank: 1.000
Column: 122, Selected False, Rank: 21.000
Column: 123, Selected False, Rank: 25.000
Column: 124, Selected False, Rank: 29.000
Column: 125, Selected False, Rank: 48.000

In [24]:
count

79

In [25]:
print(li)

[0, 1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 19, 26, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99, 100, 101, 102, 108, 109, 110, 111, 114, 118, 121]

In [26]:
for col,i in df1.columns,127:
    if i in li:
        continue
    else:
        df1.drop(col,axis=1,inplace=True)

ValueError: too many values to unpack (expected 2)