In [1]:
# All the libraries you'll need( probably)
import pandas as pd
import numpy as np 
from numpy import mean
from numpy import std
from sklearn.datasets import make_multilabel_classification
from sklearn.model_selection import RepeatedKFold
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("C:/Users/Vikram/Desktop/Minor project/EDA/optimizable_main(Nan).csv",index_col=[0])

In [3]:
df.head()

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.385827,0.132075,0.880000,0.187234,0.878342,0.394444,0.44,0.226190,1.0,0.533333
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.496063,0.000000,0.973333,0.365957,0.981283,0.286111,0.44,0.410714,1.0,0.800000
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.266667

In [5]:
df.round(10)

,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,NYHA.cardiac.function.classification,...,measured.bicarbonate,carboxyhemoglobin,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0.0,0.271429,0.333333,0.500000,0.480159,0.383562,0.428309,0.046006,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1,0.0,0.142857,0.363636,0.583333,0.595238,0.547945,0.569853,0.053564,1.0,1.0,...,0.385827,0.132075,0.880000,0.187234,0.878342,0.394444,0.44,0.226190,1.0,0.533333
2,1.0,0.200000,0.353535,0.555556,0.476190,0.547945,0.514706,0.076992,1.0,0.5,...,0.496063,0.000000,0.973333,0.365957,0.981283,0.286111,0.44,0.410714,1.0,0.800000
3,1.0,0.242857,0.651515,0.611111,0.484127,0.589041,0.540441,0.049828,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,0.0,0.271429,0.505051,0.555556,0.376984,0.445205,0.413603,0.054523,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991,0.0,0.285714,0.464646,0.527778,0.634921,0.547945,0.588235,0.043996,0.0,1.0,...,0.328740,0.056604,0.986667,0.561702,0.987968,0.475000,0.34,0.321429,1.0,1.000000
1992,0.0,0.142857,0.303030,0.833333,0.678571,0.801370,0.744485,0.067515,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1993,1.0,0.214286,0.494949,0.527778,0.674603,0.445205,0.551471,0.060653,1.0,0.5,...,0.411417,0.188679,0.560000,0.080851,0.557487,0.269444,0.42,0.398810,1.0,0.800000
1994,1.0,0.228571,0.545455,0.500000,0.555556,0.465753,0.507353,0.036393,1.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
1995,0.0,0.214286,0.570707,0.500000,0.575397,0.773973,0.681985,0.051504,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000

In [6]:
df.to_csv("Optimizable(nan).csv")